body{
    margin: 0;
    background-color: #1C1A5E !important;
}

.container{
    min-height: 100vh;
    background-color: #1C1A5E !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
